name: Docker Image CI

on:
  push:
    branches: [ "main" ]

env: 
  REGISTRY: habiledgar123
  IMAGE_NAME: capstone

jobs:

  build-and-push-image:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: login into dockerhub
      uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
    
    - name: Modify Dockerfile
      run: sed -i 's/FROM node:12/FROM node:16/' Dockerfile

    - name: Build and push Docker image
      uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
    
    - name: Deploy
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        port: 22
        script: |
            sudo docker stop capstone-project
            sudo docker container rm capstone-project
            sudo docker image pull habiledgar123/capstone:main
            sudo docker run --name capstone-project -d -p 8080:8080 habiledgar123/capstone:main

