name: Docker Image CI

on:
  push:
    branches: [ "main" ]

env: 
  REGISTRY: habiledgar123
  IMAGE_NAME: capstone

jobs:

  build-and-push-image:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    
#     - name: Checkout repo
#       uses: actions/checkout@v3

#     - name: login into dockerhub
#       uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
#       with:
#         username: ${{ secrets.DOCKER_USERNAME }}
#         password: ${{ secrets.DOCKER_PASSWORD }}

#     - name: Extract metadata (tags, labels) for Docker
#       id: meta
#       uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
#       with:
#         images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
    
#     - name: Modify Dockerfile
#       run: sed -i 's/FROM node:12/FROM node:16/' Dockerfile

#     - name: Build and push Docker image
#       uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
#       with:
#         context: .
#         push: true
#         tags: ${{ steps.meta.outputs.tags }}
#         labels: ${{ steps.meta.outputs.labels }}
    
#     - id: 'auth'
#       uses: 'google-github-actions/auth@v0'
#       with:
#         credentials_json: '${{ secrets.GCE_SA_KEY }}'

#     - id: 'compute-ssh'
#       uses: 'google-github-actions/ssh-compute@v0'
#       with:
#         instance_name: 'instance-1'
#         zone: 'asia-southeast2-a'
#         user: 'rifkhihebat'
#         ssh_private_key: '${{ secrets.GCP_SSH_PRIVATE_KEY }}'
#         command: 'sudo docker container stop capstone-project'
      - id: 'auth'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.GCE_SA_KEY }}'

      - id: 'compute-ssh'
        uses: 'google-github-actions/ssh-compute@v0'
        with:
          instance_name: 'instance-1'
          zone: 'asia-southeast2-a'
          user: 'rifkhihebat'
          ssh_private_key: '${{ secrets.GCP_SSH_PRIVATE_KEY }}'
          command:  |
            sudo docker stop capstone-project;
